.css_menu ul {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;

    a, span {
        font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 12px;
        font-weight: 700;
        line-height: 32px;
        display: block;
        padding: 0 15px;
        text-decoration: none;
        color: #333333;
    }
}

.css_menu ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

.css_menu ul li.current-menu-item {
    //background: #ddd;
}

.css_menu ul li:hover {
    //background:#f6f6f6
}

.css_menu ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    padding: 0;
    background: #FFFFFF;
}

.css_menu ul ul li {
    float: none;
    width: 200px;
}

.css_menu ul ul a {
    line-height: 120%;
    padding: 10px 15px;
}

.css_menu ul ul ul {
    top: 0;
    left: 100%;
}

.css_menu ul li:hover > ul {
    display: block;
}
